@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: #000;
}

body::before {
  content: "";
  position: absolute;
  top: 490px;
  left: 120px;
  width: 486px;
  height: 345px;
  filter: blur(150px);
  background: rgb(12, 66, 101);
}

body::after {
  content: "";
  position: absolute;
  top: 230px;
  right: 73px;
  width: 400px;
  height: 270px;
  filter: blur(150px);
  background: rgb(37, 30, 98);
}

.container {
  max-width: 100%;
  width: 1250px;
  margin: 0 auto;
  padding: 0 20px;

  @apply max-[450px]:px-[10px]
}

.cl-internal-b3fm6y {
  display: none !important;
}

.cl-userButtonPopoverFooter.cl-internal-uyu30o {
  display: none !important;
}